:root {
  --primary-heading-font: "Architects Daughter", "Shadows Into Light", cursive;
  --primary-text-font: "Noto Sans", sans-serif;
}

body {
  margin: 0;
  font-family: var(--primary-text-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-heading-font);
}

p {
  font-family: var(--primary-text-font);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Note {
  background-color: #fef68a;
  margin: 10px 0px 10px 0px;
  border-radius: 10px;
  padding: 1rem;
  min-height: 263px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Note.new {
  background-color: #67d7cc;
}

textarea {
  border: none;
  background: transparent;
  resize: none;
  color: #000;
}

textarea:focus {
  outline: none;
}

.save {
  background-color: #e1e1e1;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
  transition: all 200ms ease-in-out;
}

.save:hover {
  background-color: #ededed;
  cursor: pointer;
}
